<?php
use Doctrine\ORM\Tools\Console\ConsoleRunner;
use inklabs\kommerce\Lib\DoctrineHelper;

require_once __DIR__ . '/../vendor/autoload.php';

$doctrineHelper = new DoctrineHelper(new Doctrine\Common\Cache\ArrayCache());
$doctrineHelper->setup([
    'driver' => 'pdo_mysql',
    'dbname' => 'test',
    'user' => 'root',
    'password' => 'rooty',
    'host' => '127.0.0.1',
    'port' => '4409',
]);

$entityManager = $doctrineHelper->getEntityManager();

// Fix MySQL enum
$platform = $entityManager->getConnection()->getDatabasePlatform();
$platform->registerDoctrineTypeMapping('enum', 'string');

return ConsoleRunner::createHelperSet($entityManager);
